<div class="row">
    <a
            style="cursor: pointer;"
            [routerLink]="[index]"
            routerLinkActive="active"
            class="list-group-item clearfix"
            (click)="onSelected()">
        <div class="col-lg-8 pull-left">
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
            <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <span class="col-lg-4 pull-right">
        <img
                [src]="recipe.imagePath"
                alt="{{ recipe.name }}"
                class="img-responsive">
      </span>
    </a>
</div>
